In [1]:
import geopandas as gpd
import pandas as pd
import json

In [18]:
counties = gpd.read_file("../unsynced-data/county-crops-v1.gpkg")
counties = counties.to_crs("EPSG:4326")

In [7]:
cdl_codes = pd.read_csv("../unsynced-data/cdl-codes.csv")

In [21]:
# for every column that begins with crop_ change the values to the value divided by the max value in that column
for col in counties.columns:
    if col.startswith("crop_"):
        counties[col] = counties[col] / counties[col].max()

In [22]:
# return max value of every column that begins with crop_
max_crop = []
for col in counties.columns:
    if col.startswith("crop_"):
        max_crop.append(counties[col].max())
print (max_crop)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
# write to geojson File
counties.to_file("../unsynced-data/county-crops-percentage.geojson", driver="GeoJSON")

In [17]:
counties["crop_2"]

0       0.000000
1       0.000000
2       0.000099
3       0.000000
4       0.000000
          ...
3229    0.000000
3230    0.000000
3231    0.373775
3232    9.961652
3233    0.000000
Name: crop_2, Length: 3234, dtype: float64

In [13]:
cdl_codes

,Codes,crop_code,Class_Names,category,Erdas_Red,Erdas_Green,Erdas_Blue,ESRI_Red,ESRI_Green,ESRI_Blue
0,0,crop_0,Background,meta,0.0000,0.0000,0.0000,0,0,0
1,1,crop_1,Corn,food,1.0000,0.8275,0.0000,255,212,0
2,2,crop_2,Cotton,commodity,1.0000,0.1490,0.1490,255,38,38
3,3,crop_3,Rice,food,0.0000,0.6588,0.8980,0,169,230
4,4,crop_4,Sorghum,food,1.0000,0.6196,0.0471,255,158,15
...,...,...,...,...,...,...,...,...,...,...
251,251,crop_251,,NaN,1.0000,0.8275,0.0000,255,212,0
252,252,crop_252,,NaN,0.1490,0.4431,0.0000,38,115,0
253,253,crop_253,,NaN,0.6471,0.4392,0.0000,168,112,0
254,254,crop_254,Dbl Crop Barley/Soybeans,food,0.1490,0.4431,0.0000,38,115,0
255,255,crop_255,,NaN,0.0000,0.0000,0.0000,0,0,0